{% extends 'base.html' %}
{% load static %}

<!-- {% load static from staticfiles%}


<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/styleBook.css' %}" rel="stylesheet">




  </head>
  <body id="body">

    <h1 id="title-book">LETS FOUND YOUR FAVORITE BOOKS...</h1>
    <br>
  	<div class="row" style="padding-left: 5%; padding-right: 5%" id="search-box">
	    <div class="col-sm-10">
	    	<input type="text" id="keyword-box" class="form-control" maxlength="300">
	    </div>
	    <div class="col-sm-2">
	      <button id="search-button" name="search-button" class="status-button save btn btn-primary center">Search</button>
	    </div>
     </div>

     <br>
      <div class="table-responsive" id="table-book">          
      <table class="table">
        <thead class="thead-dark text-center" id="table-head">
          <tr>
            <th>NO</th>
            <th>COVER</th>
            <th>TITLE</th>
            <th>AUTHORS</th>
            <th>PUBLISHER</th>
            <th>PREVIEW</th>
          </tr>
        </thead>
        <tbody class="text-center" id="content-table">
         
        </tbody>
      </table>
      </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/book_script.js' %}"></script>
  </body>
</html> -->

{% block title %}
 Story 8
{% endblock %}

{% block style %} <link href="{% static 'css/styleBook.css' %}" rel="stylesheet"> {% endblock %}

{% block content %}
  <h1 id="title-book">LETS FOUND YOUR FAVORITE BOOKS...</h1>
    <br>
    <div class="row" style="padding-left: 5%; padding-right: 5%" id="search-box">
      <div class="col-sm-10">
        <input type="text" id="keyword-box" class="form-control" maxlength="300">
      </div>
      <div class="col-sm-2">
        <button id="search-button" name="search-button" class="status-button save btn btn-primary center">Search</button>
      </div>
     </div>

     <br>
      <div class="table-responsive" id="table-book">          
      <table class="table">
        <thead class="thead-dark text-center" id="table-head">
          <tr>
            <th>NO</th>
            <th>COVER</th>
            <th>TITLE</th>
            <th>AUTHORS</th>
            <th>PUBLISHER</th>
            <th>PREVIEW</th>
          </tr>
        </thead>
        <tbody class="text-center" id="content-table">
         
        </tbody>
      </table>
      </div>
    </div>
{% endblock %}

{% block script %} <script src="{% static 'js/book_script.js' %}"></script> {% endblock %}