@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

html{
	scroll-behavior: smooth;
}

#body{
	background-color: black;
}

#greet, #title-book{
	display: block; 
	text-align: center; 
	margin-top: 3%; 
	padding: 1%; 
	background-color:blue;
	color: white;
	font-family: 'Staatliches', cursive;
  	font-size: 50px;
}

.form-container{
	padding:2% 15% 2%; 
	color: white;
}

#prof{
	padding-top: 2%;
	color: white;
	font-family: 'Manjari', sans-serif; 
}

#accordion{
	color: white;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 2%;
	
}

#accordion > h4{
	border: 1px solid black;
	background-color: #E0173b;
	padding: 0.5%;
}

.accordionTitle, .accordionContent {
    background-color: #E0173b;
}

.accordionContent {
	margin-bottom: 1%;
}

