@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

#body{
	background-color: black;
}

#greet, #title-book{
	display: block; 
	text-align: center; 
	margin-top: 3%; 
	padding: 1%; 
	background-color:#E0173b;
	color: white;
	font-family: 'Staatliches', cursive;
  	font-size: 50px;
}

#content-table, #table-head{
	color: white;
	font-family: 'Manjari', sans-serif; 
}

#table-book{
	padding:3%;
}

#search-box{
	font-family: 'Manjari', sans-serif; 
}