
{% extends 'base.html' %}
{% load static %}
<!-- {% load static from staticfiles%}


<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">




  </head>
  <body id="body">
    <div id="button-container">
      <button id="day-theme" class="btn btn-primary" style="margin-top: 3%; margin-left: 3%"><h6>DAY MODE<h6></button>
      <button id="night-theme" class="btn btn-primary" style="margin-top: 3%; margin-left: 3%"><h6>NIGHT MODE<h6></button>
    </div>
    <div id="prof" class="container-fluid">
        <div class="row">
          <div class="col-sm-6 left" style="display: flex; justify-content: center; align-items: flex-end;"><img id="photo" src="{% static 'img/my_photo.png' %}" alt="ilma" style="max-width:80%; height: auto"></div>
          <div class="col-sm-6 right" id="basic_info" style="padding-left: 3%">
            <div class="d-flex flex-column bd-highlight mb-3">
                  <div class="p-2 bd-highlight" style="color: #FFE13C; font-family: 'Staatliches', cursive; font-size: 40px;" id="hello">HELLO,</div>
                  <div class="p-2 bd-highlight" id="my-name" style=" font-family: 'Staatliches', cursive; font-size: 40px;">I'M <span style="color:#E0173b">ILMA</span> AINUR <span style="color:#4D34E8">ROHMA</span></div>
                  <div class="p-2 bd-highlight">Jakarta, December 13, 2000</div>
                  <div class="p-2 bd-highlight">Faculty of Computer Science,<br>Universitas Indonesia</div>
                  <div class="p-2 bd-highlight">ilma.ainur81@ui.ac.id</div>
                  <div class="p-2 bd-highlight" style="margin:0px 70px 0px 0px">A lifetime learner who interested in writing world and hope to be a book’s author. As an ISTJ, i like to learn new things and enjoy working in team. As an Computer Science undergraduate student, i interested in Data Sciene, Web Development, and Software Engineering but still noob about those things.
                  </div>
              </div>
          </div>
        </div>
    </div>

    <center>
    <div id="accordion">
      <h4 class="accordionHeader">Activity</h4>
      <div class="accordionContent">eat<br>sleep<br>code<br>repeat</div>
      <h4 class="accordionHeader" style="background-color: #FFE13C; color: black">Experiences</h4>
      <div class="accordionContent"  style="background-color: #FFE13C; color: black">Staff Muslim Development Center at FUKI 2019<br>Staff Mentor and Participant at BETIS 2019<br>Staff Data Science Academy at COMPFEST 11<br>Vice Project Officer at  SIWAK NG 2019</div>
      <h4 class="accordionHeader">Achievements</h4>
       <div class="accordionContent">COMING SOON <br> AAMIIN</div>
    </div>
  </center>

  <br>
  <hr style="border-top: 4px dashed; color: blue">



    <div id="greet">
      <h2>HALO, APA KABAR?</h2>
    </div>
    <div class="form-container">
      <form method="POST" action="{% url 'story6:add_status' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlTextarea1" >{{ form.status.label_tag }}</label>
            {{ form.status }}
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
          </div>
        </form>
        <hr style="border-top: 2px dashed; color: blue">
        {% for db in data %}
               <small>{{ db.date }}</small>
               <p>{{ db.status }}</p>
               <hr style="border-top: 2px dashed; color: blue">
        {% endfor %}
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
  </body>
</html> -->

{% block title %}
 Story 6 & 7
{% endblock %}

{% block style %} <link href="{% static 'css/styles.css' %}" rel="stylesheet"> {% endblock %}

{% block content %}
  <div id="button-container">
      <button id="day-theme" class="btn btn-primary" style="margin-top: 3%; margin-left: 3%"><h6>DAY MODE<h6></button>
      <button id="night-theme" class="btn btn-primary" style="margin-top: 3%; margin-left: 3%"><h6>NIGHT MODE<h6></button>
    </div>
    <div id="prof" class="container-fluid">
        <div class="row">
          <div class="col-sm-6 left" style="display: flex; justify-content: center; align-items: flex-end;"><img id="photo" src="{% static 'img/my_photo.png' %}" alt="ilma" style="max-width:80%; height: auto"></div>
          <div class="col-sm-6 right" id="basic_info" style="padding-left: 3%">
            <div class="d-flex flex-column bd-highlight mb-3">
                  <div class="p-2 bd-highlight" style="color: #FFE13C; font-family: 'Staatliches', cursive; font-size: 40px;" id="hello">HELLO,</div>
                  <div class="p-2 bd-highlight" id="my-name" style=" font-family: 'Staatliches', cursive; font-size: 40px;">I'M <span style="color:#E0173b">ILMA</span> AINUR <span style="color:#4D34E8">ROHMA</span></div>
                  <div class="p-2 bd-highlight">Jakarta, December 13, 2000</div>
                  <div class="p-2 bd-highlight">Faculty of Computer Science,<br>Universitas Indonesia</div>
                  <div class="p-2 bd-highlight">ilma.ainur81@ui.ac.id</div>
                  <div class="p-2 bd-highlight" style="margin:0px 70px 0px 0px">A lifetime learner who interested in writing world and hope to be a book’s author. As an ISTJ, i like to learn new things and enjoy working in team. As an Computer Science undergraduate student, i interested in Data Sciene, Web Development, and Software Engineering but still noob about those things.
                  </div>
              </div>
          </div>
        </div>
    </div>

    <center>
    <div id="accordion">
      <h4 class="accordionHeader">Activity</h4>
      <div class="accordionContent">eat<br>sleep<br>code<br>repeat</div>
      <h4 class="accordionHeader" style="background-color: #FFE13C; color: black">Experiences</h4>
      <div class="accordionContent"  style="background-color: #FFE13C; color: black">Staff Muslim Development Center at FUKI 2019<br>Staff Mentor and Participant at BETIS 2019<br>Staff Data Science Academy at COMPFEST 11<br>Vice Project Officer at  SIWAK NG 2019</div>
      <h4 class="accordionHeader">Achievements</h4>
       <div class="accordionContent">COMING SOON <br> AAMIIN</div>
    </div>
  </center>

  <br>
  <hr style="border-top: 4px dashed; color: blue">

  <div id="status-section">
    <div id="greet">
      <h2>HALO, APA KABAR?</h2>
    </div>
    <div class="form-container">
      <form method="POST" action="{% url 'story6:add_status' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlTextarea1" >{{ form.status.label_tag }}</label>
            {{ form.status }}
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
          </div>
        </form>
        <hr style="border-top: 2px dashed; color: blue">
        {% for db in data %}
               <small>{{ db.date }}</small>
               <p>{{ db.status }}</p>
               <hr style="border-top: 2px dashed; color: blue">
        {% endfor %}
    </div>
  </div>
{% endblock %}

{% block script %} <script src="{% static 'js/script.js' %}"></script> {% endblock %}


