
{% extends 'base.html' %}
{% load static %}


{% block title %}
 Accounts
{% endblock %}

{% block style %}
<style type="text/css">
  .helptext{
    font-size: 12px;
    color: grey;
  }
  ul{
    display: none;
  }

  .errorlist{
    font-size: 12px;
    display: block;
    color: red;

  }

  #accordion{
    font-family: 'Manjari', sans-serif; 
    color: white;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 2%;

  }
  .accordionHeader{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #E0173b;
    margin-top: 2%;

  }

</style>
{% endblock %}

{% block content %}
    <div id="accordion" style="color: white">
      <h4 class="accordionHeader" id="login">LOG IN</h4>
      <div class="accordionContent">
        <form method="POST" action="{% url 'accounts:login' %}" id="form-login">
          {% csrf_token %}
            <div class="row">
              <div class="col-sm-1"><label> Username </label></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <input type="text" name="username" id="username_login" required autocomplete="off"/>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1"><label> Password </label></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <input type="password" name="password" id="password_login" required autocomplete="off"/>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm" id="login-but">Login</button><br>
        </form>
      </div>
      
      <h4 class="accordionHeader" id="signup" style="background-color: #4D34E8;">SIGN UP</h4>
      <div class="accordionContent">
        <form method="POST" action="{% url 'accounts:signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-sm" id="signup-but">Sign Up</button>
        </form>
      </div> 
    </div>

{% endblock %}

{% block script %} 
<script src="{% static 'js/acc_scripts.js' %}"></script> 
{% endblock %}


